@model Evaluation.UI.Models.Product.ProductVM
<form id="step1from" class="validation-wizard wizard-circle">
    <!-- Step 1 -->
 
    <h6>General info (1)</h6>
    <section>
        <input type="hidden" asp-for="EditProduct.RecId" class="form-control" />
        <input type="hidden" asp-for="EditProduct.IsActive" class="form-control" />
        <div class="row pt-3">
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.BranchId" class="control-label">Branch<span class="danger">*</span></label>
                    <select asp-for="EditProduct.BranchId" class="form-select" disabled>
                        <option value="">--Select--</option>
                        @foreach (var item in Model.Branchs)
                        {
                            if (item.RecId == Model.EditProduct.BranchId)
                            {
                                <option value="@item.RecId" selected>@item.Description</option>
                            }
                            else
                            {
                                <option value="@item.RecId">@item.Description</option>
                            }
                        }
                 
                    </select>
                    <span asp-validation-for="EditProduct.BranchId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.CurrencyId" class="control-label">Currency <span class="danger">*</span></label>
                    <select asp-for="EditProduct.CurrencyId" class="form-select required" required>
                        <option value="">--Select--</option>
                        @foreach (var item in Model.Currencys)
                        {
                            if (item.RecId == Model.EditProduct.CurrencyId)
                            {
                                <option value="@item.RecId" selected>@item.Description</option>
                            }
                            else
                            {
                                <option value="@item.RecId">@item.Description</option>
                            }
                        }
                     
                    </select>
                    <span asp-validation-for="EditProduct.CurrencyId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.FromCountry" class="control-label">From Country</label>
                    <select asp-for="EditProduct.FromCountry" class="form-select" >
                        <option value="">--Select--</option>
                        @foreach (var item in Model.Regions)
                        {
                            if (item.RecId == Model.EditProduct.FromCountry)
                            {
                                <option value="@item.RecId" selected>@item.Description</option>
                            }
                            else
                            {
                                <option value="@item.RecId">@item.Description</option>
                            }
                        }
                       
                    </select>
                    <span asp-validation-for="EditProduct.FromCountry" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.ThirdPartyAdminId" class="control-label">Third Party Admin <span class="danger">*</span></label>
                    <select asp-for="EditProduct.ThirdPartyAdminId" class="form-select" disabled>
                        <option value="">--Select--</option>
                        @foreach (var item in Model.ThirdPartyAdmins)
                        {
                            if (item.RecId == Model.EditProduct.ThirdPartyAdminId)
                            {
                                <option value="@item.RecId" selected>@item.Description</option>
                            }
                            else
                            {
                                <option value="@item.RecId">@item.Description</option>
                            }
                        }
                      
                    </select>
                    <span asp-validation-for="EditProduct.ThirdPartyAdminId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.CreationDate" class="control-label">Creation date <span class="danger">*</span></label>
                    <input type="date" class="form-control required" required asp-for="EditProduct.CreationDate" value="@Model.EditProduct.CreationDate.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="EditProduct.CreationDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.ToCountry" class="control-label">To Country </label>
                    <select asp-for="EditProduct.ToCountry" class="form-select" >
                        <option value="">--Select--</option>
                        @foreach (var item in Model.TerritorialScopes)
                        {
                            if (item.RecId == Model.EditProduct.ToCountry)
                            {
                                <option value="@item.RecId" selected>@item.Description</option>
                            }
                            else
                            {
                                <option value="@item.RecId">@item.Description</option>
                            }
                        }
                      
                    </select>
                    <span asp-validation-for="EditProduct.ToCountry" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">

                    <label asp-for="EditProduct.InsurerId" class="control-label">Insurer<span class="danger">*</span></label>
                    <select asp-for="EditProduct.InsurerId" class="form-select required" required disabled>
                        @foreach (var item in Model.Insurers)
                        {
                            if (item.RecId == Model.EditProduct.InsurerId)
                            {
                                <option value="@item.RecId" selected>@item.Description</option>
                            }
                            else
                            {
                                <option value="@item.RecId">@item.Description</option>
                            }
                        }
                     
                    </select>
                    <span asp-validation-for="EditProduct.InsurerId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.ActivationDate">Activation Date <span class="danger">*</span></label>
                    <input type="date" class="form-control required" required asp-for="EditProduct.ActivationDate" value="@Model.EditProduct.ActivationDate.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="EditProduct.ActivationDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.PolicyCreationId">Policy Creation <span class="danger">*</span></label>
                    <select asp-for="EditProduct.PolicyCreationId" class="form-select required" required>
                        <option value="">--Select--</option>
                        <option value="Insured">Insured</option>
                        <option value="Family">Family</option>
                        <option value="Client">Client</option>
                    </select>
                    <span asp-validation-for="EditProduct.PolicyCreationId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.InsurerProductName" class="control-label">
                        Insurer Product Name<span class="danger">*</span></label>
                    <input type="text" class="form-control required" required asp-for="EditProduct.InsurerProductName" />
                    <span asp-validation-for="EditProduct.InsurerProductName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.CountryOfResidence">Country of residence<span class="danger">*</span></label>
                    <select asp-for="EditProduct.CountryOfResidence" class="form-select required" required>
                        <option value="">--Select--</option>
                        @foreach (var item in Model.Regions)
                        {
                            if (item.RecId == Model.EditProduct.CountryOfResidence)
                            {
                                <option value="@item.RecId" selected>@item.Description</option>
                            }
                            else
                            {
                                <option value="@item.RecId">@item.Description</option>
                            }
                        }
               
                    </select>
                    <span asp-validation-for="EditProduct.CountryOfResidence" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.SubjectToProrata">Subject To prorata<span class="danger">*</span></label>
                    <select asp-for="EditProduct.SubjectToProrata" class="form-select required" required>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <span asp-validation-for="EditProduct.SubjectToProrata" class="text-danger"></span>
                </div>
            </div>
        </div>
    </section>
    <!-- Step 2 -->
    <h6>General Info(2)</h6>
    <section>
        <div class="row pt-3">
            <div class="col-md-4">
                <div class="mb-3">

                    <label asp-for="EditProduct.Standalone" class="control-label">Standalone<span class="danger">*</span></label>
                    <select asp-for="EditProduct.Standalone" class="form-select required" required>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <span asp-validation-for="EditProduct.Standalone" class="text-danger"></span>
                    @*id="txtFirstName"*@
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.NoUnderwriting" class="control-label">No Underwriting <span class="danger">*</span></label>
                    <select asp-for="EditProduct.NoUnderwriting" class="form-select required" required>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <span asp-validation-for="EditProduct.NoUnderwriting" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.Continuity" class="control-label">Continuity <span class="danger">*</span></label>
                    <select asp-for="EditProduct.Continuity" class="form-select required" required>
                        <option value="">--Select--</option>
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                        <option value="Based on AF">Based on AF</option>
                    </select>
                    <span asp-validation-for="EditProduct.Continuity" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.NoWaitingPeriod" class="control-label">No Waiting Period <span class="danger">*</span></label>
                    <select asp-for="EditProduct.NoWaitingPeriod" class="form-select required" required>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <span asp-validation-for="EditProduct.NoWaitingPeriod" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">

                    <label asp-for="EditProduct.ChildStandalone" class="control-label">Child Standalone<span class="danger">*</span></label>
                    <select asp-for="EditProduct.ChildStandalone" class="form-select required" required>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <span asp-validation-for="EditProduct.ChildStandalone" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">

                    <label asp-for="EditProduct.GuaranteeRenewability" class="control-label">Guarantee Renewability <span class="danger">*</span></label>
                    <select asp-for="EditProduct.GuaranteeRenewability" class="form-select required" required>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <span asp-validation-for="EditProduct.GuaranteeRenewability" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.NewBusinessAgeMinRange" class="control-label">New Business Age Min Range<span class="danger">*</span></label>
                    <input type="number" class="form-control required" required asp-for="EditProduct.NewBusinessAgeMinRange" min="0" max="99" />
                    <span asp-validation-for="EditProduct.NewBusinessAgeMinRange" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.RenewalAgeMinRange">Renewal Age Min Range <span class="danger">*</span></label>
                    <input type="number" class="form-control required" required asp-for="EditProduct.RenewalAgeMinRange" min="0" max="99" />
                    <span asp-validation-for="EditProduct.RenewalAgeMinRange" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.AgeCalculationYear">Age Calculation Year<span class="danger">*</span></label>
                    <select asp-for="EditProduct.AgeCalculationYear" class="form-select required" required>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <span asp-validation-for="EditProduct.AgeCalculationYear" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.NewBusinessAgeMaxRange" class="control-label">New Business Age Max<span class="danger">*</span></label>
                    <input type="number" class="form-control required" required asp-for="EditProduct.NewBusinessAgeMaxRange" min="0" max="99" />
                    <span asp-validation-for="EditProduct.NewBusinessAgeMaxRange" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.RenewalAgeMaxRange">Renewal Age Max Range<span class="danger">*</span></label>
                    <input type="number" class="form-control required" required asp-for="EditProduct.RenewalAgeMaxRange" min="0" max="99" />
                    <span asp-validation-for="EditProduct.RenewalAgeMaxRange" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.AgeCalculationFullDate">Age Calculation Full Date <span class="danger">*</span></label>
                    <select asp-for="EditProduct.AgeCalculationFullDate" class="form-select required" required>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <span asp-validation-for="EditProduct.AgeCalculationFullDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label asp-for="EditProduct.FamilyRatesCalculation">Family Rates Calculation <span class="danger">*</span></label>
                <select asp-for="EditProduct.FamilyRatesCalculation" class="form-select required" required>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <span asp-validation-for="EditProduct.FamilyRatesCalculation" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="EditProduct.ActivationDate">Active <span class="danger">*</span></label>
                <select asp-for="EditProduct.ActivationDate" class="form-select required" required>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <span asp-validation-for="EditProduct.ActivationDate" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="EditProduct.NoClaimBonus">Claim Bonus <span class="danger">*</span></label>
                <select asp-for="EditProduct.NoClaimBonus" class="form-select required" required>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <span asp-validation-for="EditProduct.NoClaimBonus" class="text-danger"></span>
            </div>
        </div>
    </section>
    <!-- Step 3 -->
    <h6>
        BuiltIn Loading & Taxes
    </h6>
    <section>
        <div class="row pt-3">
            <div class="col-md-4">
                <div class="mb-3">

                    <label asp-for="EditProduct.CommisionFromGP" class="control-label">Commision From Gp<span class="danger">*</span></label>
                    <input type="number" asp-for="EditProduct.CommisionFromGP" class="form-control" min="0" max="100">
                    <span asp-validation-for="EditProduct.CommisionFromGP" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.BuiltInCostOfPolicy" class="control-label">Cost of Policy <span class="danger">*</span></label>
                    <input type="number" asp-for="EditProduct.BuiltInCostOfPolicy" class="form-control" mmin="0" max="100">
                    <span asp-validation-for="EditProduct.BuiltInCostOfPolicy" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.BuiltInPropTaxes" class="control-label">Proportional Taxes % <span class="danger">*</span></label>
                    <input type="number" asp-for="EditProduct.BuiltInPropTaxes" class="form-control" min="0" max="100">
                    <span asp-validation-for="EditProduct.BuiltInPropTaxes" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-4">
                <div class="mb-3">
                    <label asp-for="EditProduct.FixedTaxes" class="control-label">Fixed Taxes <span class="danger">*</span></label>
                    <input type="number"  asp-for="EditProduct.FixedTaxes" class="form-control" min="0" max="100">
                    <span asp-validation-for="EditProduct.FixedTaxes" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">

                    <label asp-for="EditProduct.VATOnCommision" class="control-label">Vat% on commission<span class="danger">*</span></label>
                    <input type="number" asp-for="EditProduct.VATOnCommision" class="form-control" min="0" max="100">
                    <span asp-validation-for="EditProduct.VATOnCommision" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">

                    <label asp-for="EditProduct.InsurerLoading" class="control-label">insurer Loading % <span class="danger">*</span></label>
                    <input type="number" asp-for="EditProduct.InsurerLoading" class="form-control" min="0" max="100">
                    <span asp-validation-for="EditProduct.InsurerLoading" class="text-danger"></span>
                </div>
            </div>
        </div>

    </section>
    <!-- Step 4 -->
    @* <h6>Miscellaneous</h6> *@
    <h6>On Top Fees</h6>
    <section>
        <input type="button" id="addtMiscellaneousSheets" class="btn btn-success" value="Add" data-backdrop="static" />
        <table id="tMiscellaneous" style="width:100%" class="display responsive table table-striped"></table>
    </section>
    <!-- Step 5 -->
    <h6>Technical Sheets</h6>
    <section>
        <input type="button" id="addtTechnicalSheets" class="btn btn-success" value="Add" data-backdrop="static" />
        <table id="tTechnicalSheets" style="width:100%" class="display responsive table table-striped">
        </table>
    </section>
    <!-- Step 6 -->
    <h6>Combinations</h6>
    <section>
        <hr />
        <h2>Technical Sheets</h2>
         <table id="tTechnicalSheetsCloned" style="width:100%" class="display responsive table table-striped"></table>
        <hr />
        <h2>Combinations</h2>
        <input type="button" id="addtCombinations" class="btn btn-success" value="Add" data-backdrop="static" />
        <table id="tCombinations" style="width:100%" class="display responsive table table-striped"></table>
    </section>
    <!-- Step 7 -->
    <h6>Price</h6>
    <section>
        <div class="row">
            <div class="">
                <div class="" style="float: right;">
                    <button type="button" id="btnSubmit" class="
                        btn btn-primary
                      " title="Save Data">
                        <i class="m-1 fas fa-plus"></i>Submit
                    </button>
                    <button type="button" id="btnDownloadPriceList" class="
                        btn btn-primary
                      " title="Download Price List Template">
                        <i class="m-1 fas fa-plus"></i>Download Price
                    </button>
                    <button type="button" id="btnUploadPrice" class="
                        btn btn-primary
                      " title="Upload Price List Template">
                        <i class="m-1 fas fa-upload"></i>Upload 
                    </button>
                    <button type="button" id="btnExportPrice" class="
                        btn btn-secondary
                      " title="Export Price List">
                        <i class="m-1 fas fa-download"></i>Export Data
                    </button>

                </div>
            </div>
            <input type="file" id="fileInput" name="file" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" style="display: none">
        </div>
        <table id="tPrice" style="width:100%" class="display responsive table table-striped"></table>
    </section>
    <!-- Step 8 -->
    <h6>Benefit</h6>
    <section>
        <div class="row">
            <div class="">
                <div class="" style="float: right;">
                    <button type="button" id="btnSaveAllBenifits" class="
                        btn btn-primary
                      " title="Save All">
                        <i class="m-1 fas fa-plus"></i>Save All
                    </button>
                    <button type="button" id="btnGetBenifits" class="
                        btn btn-secondary
                      " title="Import Benefits Template">
                        <i class="m-1 fas fa-paper"></i>Import Benefits Template
                    </button>
                </div>
            </div>
        </div>
       @*  <input type="button" id="addBenifitModel" class="btn btn-success" value="Add" /> *@
        <table id="tBenifits" style="width:100%" class="display responsive table table-striped"></table>
    </section>
</form>

<!-- Add Row Modal -->
<div id="modalAddtMiscellaneousSheets" class="modal fade" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Miscellaneous</h4>
            </div>

            <!-- Modal body -->
            <form id="modelStep3">
                <div class="modal-body">

                    <div class="row">
                        <div class="md-3"><lable>Class of Coverage</lable></div>
                        <div class="md-6">
                            <select class="form-select" id="txtClassid">
                                @foreach (var item in Model.ProductClassOfCoverages)
                                {
                                    <option value="@item.RecId">@item.Description</option>
                                }
                                <option value="">--Select--</option>
                            </select>

                        </div>
                    </div>
                    <div class="row">
                        <div class="md-3"><lable>AML</lable></div>
                        <div class="md-3">
                            <input type="hidden" id="txtRecId">
                            <div class="input-group">
                                <input type="number" class="form-control" id="txtAmount" placeholder="Amount">
                                <button class="
                          btn btn-light-secondary
                          text-secondary
                          font-weight-medium
                        " type="button" onclick="addNumberToValue('txtAmount',999999999)" title="Add 999999999 to AML">
                                    Max
                                </button>
                            </div>
                        </div>
                        <div class="md-3"><lable>Cost Policy</lable></div>
                        <div class="md-3"> <input type="number" class="form-control" id="txtCostpolicy" placeholder="Cost Policy"></div>
                        <div class="md-3"><lable>Commision%</lable></div>
                        <div class="md-3"> <input type="number" class="form-control" id="txtCommision" placeholder="Commision"></div>
                    </div>
                    <div class="row">
                        <div class="md-3"><lable>Admin Fees</lable></div>
                        <div class="md-6"> <input type="number" class="form-control" id="txtAdminfees" placeholder="Admin Fees"></div>
                        <div class="md-3"><lable>First Year Discount</lable></div>
                        <div class="md-3"> <input type="number" class="form-control" min="0" max="100" id="txtFirstYeardiscount" placeholder="discount"></div>
                        <div class="md-3"><lable>Cost of Policy Amount</lable></div>
                        <div class="md-3"> <input type="number" class="form-control" id="txtCostPolicyAmount" ></div>
                        <div class="md-3"><lable>Fixed Tax Amount</lable></div>
                        <div class="md-3"> <input type="number" class="form-control" id="txtFixedTaxAmount"></div>
                        <div class="md-3"><lable>Prop. Tax %</lable></div>
                        <div class="md-3"> <input type="number" class="form-control" id="txtPropTaxPer" min="0" max="100"></div>
                        <div class="md-3"><lable>VAT %</lable></div>
                        <div class="md-3"> <input type="number" class="form-control" id="txtVATPer" min="0" max="100"></div>
                    </div>

                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnCloseModalMiscellaneous"
                        data-bs-dismiss="modal">
                    Close
                </button>
                <button id="saveRowBtntMiscellaneousSheets" class="btn btn-success">Save</button>
            </div>

        </div>
    </div>
</div>
<!-- Add Row Modal -->
<div id="modalAddtTechnicalSheets" class="modal fade" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Technical Sheets</h4>
            </div>

            <!-- Modal body -->
            <form id="modelStep4">
                <div class="modal-body">
                    <input type="hidden" id="txtRecIdStep4">
                    <div class="row">
                        <div class="md-3"><lable>Section *</lable></div>
                        <div class="md-6">
                            <select class="form-select " id="txtSectionId" name="txtSectionId" required>
                                <option value="">--Select--</option>
                                @foreach (var item in Model.ProductDetailsPOISections.Where(x => x.BranchCategoryClassId == Model.EditProduct.BranchId))
                                {
                                    <option value="@item.RecId">@item.Description</option>
                                }

                            </select>
                            <span validation-for="txtSectionId" class="text-danger"></span>
                        </div>
                        <div class="md-3"><lable>Technical Sheet *</lable></div>
                        <div class="md-3">
                            <input type="number" min="1" required class="form-control" id="txtTechnicalSheet" name="txtTechnicalSheet" placeholder="Technical Sheet">
                            <span validation="txtTechnicalSheet" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="md-3"><lable>Covered *</lable></div>
                        <div class="md-3">
                            <select class="form-select " required id="txtCovered"name="txtCovered">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                                <span validation-for="txtCovered" class="text-danger"></span>
                            </select>
                            @* <div class="md-6"> <input type="checkbox" class="form-control" id="chkCovered"></div> *@
                        </div>
                        <div class="md-3"><lable>Territorial Scope *</lable></div>
                        <div class="md-3">
                            <select class="form-select " id="txtTerritorialScope" name="txtTerritorialScope" required>
                                <option value="">--Select--</option>
                                @foreach (var item in Model.TerritorialScopes)
                                {
                                    <option value="@item.RecId">@item.Description</option>
                                }

                            </select>
                          @*   <input type="number" class="form-control" required id="txtTerritorialScope" placeholder="Territorial Scope"> *@
                        </div> 
                        <div class="md-3"><lable>Class </lable></div>
                        <div class="md-3">
                            <select class="form-select " id="txtClass" name="txtClass">

                                <option value="">--Select--</option>
                            </select>
                            <span for="txtClass" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="md-3"><lable>Co-Insurance </lable></div>
                        <div class="md-6"> <input type="number" class="form-control" id="txtCommissionInsurance" placeholder="Commission Insurance"></div>
                        <div class="md-3"><lable>Limit Amount </lable></div>
                        <div class="input-group">
                            <input type="text" class="form-control" id="txtLimitAmount">
                            <button class="
                          btn btn-light-secondary
                          text-secondary
                          font-weight-medium
                        " type="button" onclick="addNumberToValue('txtLimitAmount',999999999)" title="Add 999999999 to Limit Amount">
                                Max
                            </button>
                        </div>
                        @*               <div class="md-3"><lable>Limit Amount *</lable></div>
                        <div class="md-6"> <input type="text" required class="form-control" id="txtLimitAmountMaxRange" placeholder="Limit Amount Max Range"></div> *@
                    </div>
                    <div class="row">
                        <div class="md-3"><lable>Network *</lable></div>
                        <div class="md-6">
                            <select class="form-select " required id="txtNetworkId" name="txtNetworkId">
                                <option value="">--Select--</option>
                                @foreach (var item in Model.ProductDetailsPOINetworks.Where(x=>x.ThirdPartyAdminId==Model.EditProduct.ThirdPartyAdminId))
                                {
                                    <option value="@item.RecId">@item.NetworkName - @item.NetworkExplanation </option>
                                }
                               
                            </select>
                            <span validation-for="txtNetworkId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnClosAddtTechnicalSheets"
                        data-bs-dismiss="modal">
                    Close
                </button>
                <button id="saveRowBtntTechnicalSheets" class="btn btn-success">Save</button>
            </div>

        </div>
    </div>
</div>
<!-- Add Row Modal -->
<div id="modalCombinations" class="modal fade" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Technical Sheets</h4>
            </div>

            <!-- Modal body -->
            <form id="modelStep6">
                <div class="modal-body">
                    <input type="hidden" id="txtRecIdStep6">
                    <div class="row">
                        <div class="md-3"><lable>Sheet 1</lable></div>
                        <div class="md-3">
                            <select class="form-select tsheetddl" id="ddlTsheet1">
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="md-3"><lable>Sheet 2</lable></div>
                        <div class="md-3">
                            <select class="form-select tsheetddl" disabled id="ddlTsheet2">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="md-3"><lable>Sheet 3</lable></div>
                        <div class="md-3">
                            <select class="form-select tsheetddl" disabled id="ddlTsheet3">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="md-3"><lable>Sheet 4</lable></div>
                        <div class="md-3">
                            <select class="form-select tsheetddl" disabled id="ddlTsheet4">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="md-3"><lable>Sheet 5</lable></div>
                        <div class="md-3">
                            <select class="form-select tsheetddl" disabled id="ddlTsheet5">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="md-3"><lable>Sheet 6</lable></div>
                        <div class="md-3">
                            <select class="form-select tsheetddl" disabled id="ddlTsheet6">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="md-3"><lable>Sheet 7</lable></div>
                        <div class="md-3">
                            <select class="form-select tsheetddl" disabled id="ddlTsheet7">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="md-3"><lable>Sheet 8</lable></div>
                        <div class="md-3">
                            <select class="form-select tsheetddl" disabled id="ddlTsheet8">
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnClosCombinations"
                        data-bs-dismiss="modal">
                    Close
                </button>
                <button id="saveRowCombinations" class="btn btn-success">Save</button>
            </div>

        </div>
    </div>
</div>
<!-- Add Row Modal -->
<div id="modalBenifit" class="modal fade" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Benifit</h4>
            </div>

            <!-- Modal body -->
            <form id="modelStepBenifit">
                <div class="modal-body">
                    <input type="hidden" id="txtRecIdBenifit">
                    <div class="row">
                        <div class="md-3"><lable>Class</lable></div>
                        <div class="md-3">
                            <input type="text" disabled class="form-control" id="txtClassBenifit">
                       @*      <select class="form-select " disabled id="txtClassBenifit">
                                <option value="">--Select--</option>
                                <option value="All">All</option>
                            </select> *@
                        </div>
                    </div>

                    <div class="row">
                        <div class="md-3"><lable>Number</lable></div>
                        <div class="md-3">
                            <input type="text" disabled class="form-control" id="txtBenifitNumber">
                        </div>
                    </div>
                    <div class="row">
                        <div class="md-3"><lable>Name</lable></div>
                        <div class="md-3">
                            <input type="text" disabled class="form-control" id="txtBenifitName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="md-3"><lable>Answer</lable></div>
                        <div class="md-3">
                            <input type="text" class="form-control" id="txtBenifitAnswer">
                        </div>
                    </div>
                    <div class="row">
                        <div class="md-3"><lable>Life Time</lable></div>
                        <div class="md-3">
                            <input type="text" class="form-control" id="txtBenifitLifeTime">
                        </div>
                    </div>
                    <div class="row">
                        <div class="md-3"><lable>Excess</lable></div>
                        <div class="md-3">
                            <input type="text" class="form-control" id="txtBenifitExcess">
                        </div>
                    </div>

                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnCloseBenifit"
                        data-bs-dismiss="modal">
                    Close
                </button>
                <button id="saveRowBenifit" class="btn btn-success">Save</button>
            </div>

        </div>
    </div>
</div>
