@model Evaluation.UI.Models.AF1_8VM
@{
    ViewData["Title"] = "Personal";
    ViewData["SubTitle"] = "Individual Health";
}

<input type="hidden" id="BusinessLineCode">
<input type="hidden" id="ContactId" value="@Model.ContactVM.RecId">
<div class="row">
    <div class="col-6 "> <h2>@Model.ContactVM.FirstName @Model.ContactVM.MiddleName @Model.ContactVM.LastName</h2></div>
    <div class="col-6 ">
        <div class="" style="float: right;">
            <button type="button" id="btnDashboard" class="
                        btn btn-danger
                      ">
                <i class="m-1 fas  fa-angle-left"></i>
            </button>
            <button type="button" id="btnSubmit" onclick="Submit()" class="
                        btn btn-primary
                      ">
                <i class="m-1 fas fa-plus"></i>Submit
            </button>


        </div>
    </div>
    <input type="file" id="fileInput" name="file" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" style="display: none">
</div>

<form id="form">
    @*  <div class="row">
       <div class="col-md-6">
            <p>Builing To </p>
        </div>
        <div class="col-md-4">
            <select class="form-select required" asp-for="ClientId" required>
                <option value="0">-- Select --</option>
                @foreach (var item in Model.Clients)
                {
                    if (Model.ClientId == Convert.ToInt32(item.Code))
                    {
                        <option value="@item.Code" selected>@item.Description</option>
                    }
                    else
                    {
                        if (item.IsDefault)
                        {
                            <option value="@item.Code" selected>@item.Description</option>
                        }
                        else
                        {
                            <option value="@item.Code">@item.Description</option>
                        }
                    }


                }
            </select>
            <span class="error" asp-validation-for="ClientId"></span>
        </div>
    </div> *@
    <div class="row">
        <div class="col-md-6">
            <p>Master Account</p>
        </div>
        <div class="col-md-4">
            <select class="form-select required" asp-for="MasterId" required>
                <option value="0">-- Select --</option>
                @foreach (var item in Model.Masters)
                {
                    if (Model.MasterId == Convert.ToInt32(item.Code))
                    {
                        <option value="@item.Code" selected>@item.Description</option>
                    }
                    else

                    if (item.IsDefault)
                    {
                        <option value="@item.Code" selected>@item.Description</option>
                    }
                    else
                    {
                        <option value="@item.Code">@item.Description</option>
                    }
                }
            </select>
            <span class="error" asp-validation-for="MasterId"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>What is your country of residence? <span class="danger">*</span></p>
        </div>
        <div class="col-md-4">
            <select class="form-select required" asp-for="AF1BL080501Dtco.ResidenceCode" required>
                @*  @foreach (var item in Model.Regions)
                {

                <option value="@item.code" selected=@(Model.AF1BL080501Dtco.ResidenceCode == item.code || item.isDefault ? "selected" : "none")>@item.description</option>

                } *@
                @if (String.IsNullOrEmpty(Model.AF1BL080501Dtco.ResidenceCode))
                {
                    @foreach (var item in Model.Regions)
                    {

                        if (item.isDefault)
                        {
                            <option value="@item.code" selected>@item.description</option>
                        }
                        else
                        {
                            <option value="@item.code">@item.description</option>
                        }



                    }
                }
                else
                {
                    @foreach (var item in Model.Regions)
                    {

                        if (Model.AF1BL080501Dtco.ResidenceCode == item.code)
                        {
                            <option value="@item.code" selected>@item.description</option>
                        }
                        else
                        {
                            <option value="@item.code">@item.description</option>
                        }


                    }
                }

            </select>
            <span class="error" asp-validation-for="AF1BL080501Dtco.ResidenceCode"></span>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <p>What do you need a Network Type?   <span class="danger">*</span></p>
        </div>
        <div class="col-md-4">
            <select class="form-select" asp-for="AF1BL080501Dtco.NetworkLevelCode">
                <option value="">--Select--</option>
                @foreach (var item in Model.NetworkLevel)
                {
                    if (Model.AF1BL080501Dtco.NetworkLevelCode == item.Code)
                    {
                        <option value="@item.Code" selected>@item.Description</option>
                    }
                    else
                    {
                        if (item.IsDefault)
                        {
                            <option value="@item.Code" selected>@item.Description</option>
                        }
                        else
                        {
                            <option value="@item.Code">@item.Description</option>
                        }

                    }

                }
            </select>
            <span class="error" asp-validation-for="AF1BL080501Dtco.NetworkLevelCode"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>What do you need a class of coverage? A, B or SP   <span class="danger">*</span></p>
        </div>
        <div class="col-md-4">
            <select class="form-select" asp-for="AF1BL080501Dtco.ClassOfCoveragCode">
                <option value="">--Select--</option>
                @foreach (var item in Model.ProductClassOfCoverage)
                {
                    <option value="@item.RecId">@item.Description</option>
                }
            </select>
            <span class="error" asp-validation-for="AF1BL080501Dtco.ClassOfCoveragCode"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Do you need ambulatory coverage?  <span class="danger">*</span> </p>
        </div>
        <div class="col-md-4">
            <select class="form-select" asp-for="AF1BL080501Dtco.Ambulatory">

                @if (Model.AF1BL080501Dtco.Ambulatory == false)
                {
                    <option value="true">Yes</option>
                    <option value="false" selected>No</option>
                }
                else if (Model.AF1BL080501Dtco.Ambulatory == true)
                {
                    <option value="true" selected>Yes</option>
                    <option value="false">No</option>
                }
                else
                {
                    <option value="true" selected>Yes</option>
                    <option value="false">No</option>

                }
            </select>
            <span class="error" asp-validation-for="AF1BL080501Dtco.Ambulatory"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Do you need prescription medicine coverage?   <span class="danger">*</span></p>
        </div>
        <div class="col-md-4">
            <select class="form-select" asp-for="AF1BL080501Dtco.PrescriptionMedecine">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
            <span class="error" asp-validation-for="AF1BL080501Dtco.PrescriptionMedecine"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Do you need doctor’s visit coverage?  <span class="danger">*</span> </p>
        </div>
        <div class="col-md-4">
            <select class="form-select" asp-for="AF1BL080501Dtco.DoctorVisit">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
            <span class="error" asp-validation-for="AF1BL080501Dtco.DoctorVisit"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>Is there any NSSF coverage in place?  <span class="danger">*</span> </p>
        </div>
        <div class="col-md-4">
            <select class="form-select" asp-for="AF1BL080501Dtco.NSSF">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
            <span class="error" asp-validation-for="AF1BL080501Dtco.NSSF"></span>
        </div>
    </div>
    <input class="btn btn-success" type="button" value="Add Row" onclick="addRow()" />



    <table id="tblAf8">
        <thead>
            <tr>
                <th>
                    Relation <span class="danger">*</span>
                </th>
                <th>
                    First Name<span class="danger">*</span>
                </th>
                <th>
                    Father/Middle Name
                </th>
                <th>
                    Last Name
                </th>
                <th>
                    Gender<span class="danger">*</span>
                </th>
                <th>
                    DOB (DD/MM/YYYY)<span class="danger">*</span>
                </th>
                <th>
                    Nationality<span class="danger">*</span>
                </th>
                <th>
                    Marital Status<span class="danger">*</span>
                </th>
            </tr>
        </thead>

        <tbody>
            @if (Model.AF1BL080501Dtco.AF1BL080501List != null)
            {

                foreach (var item in Model.AF1BL080501Dtco.AF1BL080501List)
                {
                    @* <tr>
            <td>@Model.Relations.Where(x=>x.Code==item.RelationCode).Select(x=>x.Description).FirstOrDefault().ToString()</td>
            <td>@item.FirstName</td>
            <td>@item.MiddleName</td>
            <td>@item.LastName</td>
            <td>@Model.Genders.Where(x=>x.code==item.GenderCode).Select(x=>x.description).FirstOrDefault().ToString()</td>
            <td>@item.DOB</td>
            <td>@Model.Regions.Where(x=>x.code==item.NationalityCode).Select(x=>x.description).FirstOrDefault().ToString()</td>
            <td>@Model.MaritalStatuses.Where(x=>x.code==item.MaritalStatusCode).Select(x=>x.description).FirstOrDefault().ToString()</td>
            </tr>*@
                    <tr>
                        <td>
                            <select name="Relation" class="form-select required" required>
                                @foreach (var item1 in Model.Relations)
                                {
                                    if (item1.Code == item.RelationCode)
                                    {
                                        <option value="@item1.Code" selected>@item1.Description</option>
                                    }
                                    else
                                    {
                                        <option value="@item1.Code">@item1.Description</option>

                                    }

                                }
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control required" name="FirstName" required value="@item.FirstName" />
                        </td>
                        <td>
                            <input type="text" class="form-control " name="FatherName" value="@item.MiddleName" />
                        </td>
                        <td>
                            <input type="text" class="form-control " name="LastName" value="@item.LastName" />
                        </td>
                        <td>
                            <select id="Gender" class="form-select required" required>
                                @foreach (var item2 in Model.Genders)
                                {
                                    if (item2.code == item.GenderCode)
                                    {
                                        <option value="@item2.code" selected>@item2.description</option>
                                    }
                                    else
                                    {
                                        <option value="@item2.code">@item2.description</option>

                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <input type="date" class="form-control required" id="DOB" required value="@item.DOB.ToString("yyyy-MM-dd")" />
                        </td>
                        <td>
                            <select name="Region" class="form-select required" required>
                                @foreach (var item3 in Model.Regions)
                                {
                                    if (item3.code == item.NationalityCode)
                                    {
                                        <option value="@item3.code" selected>@item3.description</option>
                                    }
                                    else
                                    {
                                        <option value="@item3.code">@item3.description</option>

                                    }
                                }
                            </select>
                        </td>
                        <td>
                            <select name="MaritalStatus" class="form-select required" required>
                                @foreach (var item4 in Model.MaritalStatuses)
                                {
                                    if (item4.code == item.MaritalStatusCode)
                                    {
                                        <option value="@item4.code" selected>@item4.description</option>
                                    }
                                    else
                                    {
                                        <option value="@item4.code">@item4.description</option>

                                    }
                                }
                            </select>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        <select name="Relation" class="form-select required" required>
                            @foreach (var item in Model.Relations)
                            {
                                <option value="@item.Code">@item.Description</option>
                            }
                        </select>
                    </td>
                    <td>
                        <input type="text" class="form-control required" id="FirstName" required value="firstname" />
                    </td>
                    <td>
                        <input type="text" class="form-control required" id="FatherName" required value="fathername" />
                    </td>
                    <td>
                        <input type="text" class="form-control required" id="LastName" required value="lastname" />
                    </td>
                    <td>
                        <select name="Gender" class="form-select required" required>
                            @foreach (var item in Model.Genders)
                            {
                                <option value="@item.code">@item.description</option>
                            }
                        </select>
                    </td>
                    <td>
                        <input type="date" class="form-control required" name="DOB" required />
                    </td>
                    <td>
                        <select id="Region" class="form-select required" required>
                            @foreach (var item in Model.Regions)
                            {
                                if (item.isDefault)
                                {
                                    <option value="@item.code" selected>@item.description</option>
                                }
                                else
                                {
                                    <option value="@item.code">@item.description</option>
                                }
                            }
                        </select>
                    </td>
                    <td>
                        <select id="MaritalStatus" class="form-select required" required>
                            @foreach (var item in Model.MaritalStatuses)
                            {
                                <option value="@item.code">@item.description</option>
                            }
                        </select>
                    </td>
                </tr>

            }

        </tbody>
    </table>
</form>
@section Scripts{
    <script>
        var relationList = @Html.Raw(Json.Serialize(Model.Relations));
        var genderList = @Html.Raw(Json.Serialize(Model.Genders));
        var maritalStatusList = @Html.Raw(Json.Serialize(Model.MaritalStatuses));
        var regionList = @Html.Raw(Json.Serialize(Model.Regions));
        var clientList = @Html.Raw(Json.Serialize(Model.Clients));
        var masterList = @Html.Raw(Json.Serialize(Model.Masters));
        var clientID = @Model.ClientId;
        var masterID = @Model.MasterId;
    </script>
    <script src="~/js/business/AF1_8.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <!--This page JavaScript -->
    @*  <script src="~/assets/libs/jquery.repeater/jquery.repeater.min.js"></script>
    <script src="~/assets/extra-libs/jquery.repeater/repeater-init.js"></script>
    <script src="~/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>*@

}